.panel-title:hover {
    color : gray; 
    text-decoration: none; 
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.panel-body {
    color: black;
}